body{
    background-color: aqua;
}

.bx{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}


.bg-custom{
    background-color: aqua;
}
.img{
    height: 400px;
    width:400px;
    align-items: center;
    font-size: 20px;
}